.card {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li .card:hover {
  border: 1px solid var(--bs-gray-900);
}

ol {
  padding: 0;
}
.click-disabled {
  pointer-events: none;
}
button.btn i{
 color: var(--bs-gray-900);
}
.correct,.incorrect  {
  background-color: var(--bs-gray-900);
  color: #fff;
}

.btn:focus{
  box-shadow: none;
}
