.container > .card {
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  background-color:var(--bs-gray-900);
  color: #ddd;
  border: none;
  box-shadow: 0 0 10px #101214;
}
.card h1 {
padding-bottom: 0;
}
.quiz-header {
  padding-top: 10px;
}
h1 {
  margin-bottom: 0;
}
.question {
  margin-bottom: 20px;
}
.question .card{
  box-shadow: unset;
  text-align: center;
}
.progress {
  background-color:var(--bs-gray-900);
  border: 1px solid #101214;
}
.progress-bar {
  background-color:#101214;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}
li .card {
  border: 1px solid #101214;
  box-shadow: unset;
}
li .card:hover {
  border: 1px solid #ddd;
}
ol {
  padding: 0;
}
.click-disabled {
  pointer-events: none;
}
button.btn i{
 color: #ddd;
}
.correct,.incorrect  {
  background-color: #ddd;
  color: var(--bs-gray-900);
}

.btn:focus{
  box-shadow: none;
}
.result + button.btn {
  background-color: var(--bs-gray-900);
  border: none;
  color: #ddd;
  border: 1px solid #ddd;
  margin-top: 20px;
}
.result + button.btn:hover {
  background-color: #ddd;
  color: var(--bs-gray-900);
}
.result-wrapper {
  padding: 15px;
}
.result-wrapper p {
  font-size: 22px;
}
